<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="small-caps">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="small-caps" size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Administra tu cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" class="mb-10 " [disabled]="isEmailConfirmed">Confirmar email</ion-button>
      <ion-button expand="block" class="mb-10" routerLink="/account/change-password">Cambiar contraseña</ion-button>
      <ion-button expand="block" class="mb-10">Descargar una copia de mis datos</ion-button>
      <ion-button expand="block" class="mb-10" color="danger">Eliminar cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>