<ion-header>
    <ion-toolbar>
        <ion-title class="small-caps">Ya calificaste</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title class="small-caps" size="large">Ya calificaste</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Buenísimo!</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            <p>Ya calificaste a este usuario por este viaje y te agradecemos por hacerlo! Calificar aumenta la confianza de la comunidad y mejora la experiencia de todos los usuarios.</p>
            <blockquote><span class="open-quote">“</span>{{rating.comment}}<span class="close-quote">”</span></blockquote>
            <ion-button expand="block" class="mt-20" (click)="goToTripInfo()">Volver al viaje</ion-button>
            <ion-button expand="block" class="mt-20" routerLink="/">Ir a inicio</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>