.uppercase {
    text-transform: uppercase;
}

.car-color {
    width: 32px; 
    height: 32px; 
    border: 2px solid #000000; 
    border-radius: 15px; 
    margin-right: 10px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.dark-gray {
    background-color: darkgray;
}

.red {
    background-color: red;
}

.dark-red {
    background-color: darkred;
}

.blue {
    background-color: blue;
}

.dark-blue {
    background-color: darkblue;
}

.yellow {
    background-color: yellow;
}

.golden {
    background-color: goldenrod;
}

.green {
    background-color: green;
}

.dark-green {
    background-color: darkgreen;
}

.orange {
    background-color: orangered;
}

.brown {
    background-color: brown;
}