.ad {
    height: 56px; 
    width: 100%; 
    background-color: var(--ion-item-background); 
    text-align: center; 
    font-size: larger; 
    color: var(--ion-color-primary);
    padding-top: 17px;
    font-variant: small-caps;
    font-size: larger;
}