.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    background-image: url(../../../../assets/img/auth-home-background-2.jpg);
    background-color: #cccccc;
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 3px 3px 4px #000000;
    margin-bottom: 150px;

    h1 {
        font-size: xxx-large;
        font-weight: bold;
    }
}

.white {
    color: white !important;
}